@page
@model CRUDCatalogoWeb.Pages.Articulos.CrearModel

<h1>Crear</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Articulo.Descripcion" class="control-label"></label>
                <input asp-for="Articulo.Descripcion" name="Descripcion" class="form-control" />
                <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Articulo.Marca" class="control-label"></label>
                <input asp-for="Articulo.Marca" name="Marca" class="form-control" />
                <span asp-validation-for="Articulo.Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Articulo.Modelo" class="control-label"></label>
                <input asp-for="Articulo.Modelo" name="Modelo" class="form-control" />
                <span asp-validation-for="Articulo.Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Articulo.Precio" class="control-label"></label>
                <input asp-for="Articulo.Precio" name="Precio" class="form-control" />
                <span asp-validation-for="Articulo.Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Articulo.Stock" class="control-label"></label>
                <input asp-for="Articulo.Stock" name="Stock" class="form-control" value="" />
                <span asp-validation-for="Articulo.Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index" class="btn btn-primary">Volver al Inicio</a>
</div>