@page
@model IndexModel

<a href="Articulos/Crear"
   class="btn btn-success">
    Crear Articulo
</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in Model.Lista.VerTodos())
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.descripcion</td>
                    <td>
                        <a href="Articulos/Detalle?id=@item.id" style="text-decoration: none">Ver</a> |
                        <a href="Articulos/Editar?id=@item.id" style="text-decoration: none">Editar</a> |
                        <a href="Articulos/Borrar?id=@item.id" style="text-decoration: none">Borrar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


